<!DOCTYPE html>
<html>
 
    <header>
	<div class="nav-container">
  <nav>
    <div class="logo">
      <a href="#" class="logo">THE BLOG</a>
    </div>
    <div class="menu">
      <a href="{{path('app_login')}}">login</a>
	  <a href="{{ path('index') }}">Home</a>
      <a href="{{ path('app_task') }}">Add_Post</a>
      </div>
  </nav>
</div>
{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
             <link href="{{ asset('./build/app.css') }}" rel="stylesheet"/>
 		{% endblock %}	
    </header>
    <body>
        {% block body %}
            {% block main %}{% endblock %}
		{% endblock %}
        {% block javascripts %}
		{{ encore_entry_script_tags('app') }}
  		{% endblock %}
    </body>
</html>

