<!DOCTYPE html>
<html>
 
    <header>
	<div class="nav-container">
  <nav>
    <div class="logo">
      <a href="#" class="logo">THE BLOG</a>
    </div>
    <div class="menu">
      <a href="{{path('app_login')}}">login</a>
	  <a href="{{ path('index') }}">Home</a>
      <!--<a href="#"></a>
      <a href="#">About</a>
      <a href="#">Contact</a>
      <a href="#">Account</a>-->
    </div>
  </nav>
</div>
{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
             <link href="{{ asset('./build/app.css') }}" rel="stylesheet"/>
 		{% endblock %}	
    </header>
    <body>
        {% block body %}
		{% endblock %}
        {% block javascripts %}
		{{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
		
		{% endblock %}
    </body>
</html>

